<div class="container-fluid">
  <div class="row">
    <div *ngIf="sideBarStatus" style="height: 90vh; width: fit-content;" class="col-lg-2 bg-dark d-flex flex-column  p-3">
    <a  style="text-decoration: none; color: white;" class="fw-bolder mb-3" routerLink="/dashboard">HOME</a>
    <a  style="text-decoration: none; color: white;" class="fw-bolder mb-3" routerLink="/users">USERS</a>

    <button (click)="logout()" class="btn mt-auto text-light fw-bolder">
      <i class="fa-solid fa-right-from-bracket fa-flip-horizontal"></i>LOGOUT
    </button>
    </div>

    <div class="col-lg-10">
      <div class="row pt-2 w-100">

        <div class="col-lg-8">
          <div style="height: 300px; background: url('https://wallpapercave.com/wp/ci1BoK6.jpg');" class="rounded p-3 d-flex align-items-center shadow">
            <h1 class="fw-bolder text-light mt-5 "><i (click)="menuBtnClicked()" style="cursor: pointer;" class="fa-solid fa-bars"></i> WELCOME {{adminName}}</h1>
          </div>
     

        <div class="row">

          <div class="col-lg-6 border rounded shadow">
            <!-- calender -->
            <app-calender></app-calender>
          </div>

          
          
          <div class="col-lg-6 border rounded shadow">
            <!-- chart -->
            <app-chart></app-chart>
          </div>

        </div>
      </div>



        <div class="col-lg-4">
          <div style="height: 400px;" class="border rounded shadow p-2 update-admin">
            <app-update-admin (onAdminChange)="onAdminChange($event)"></app-update-admin>
          </div>

          <div style="height: 200px; background: url('https://wallpapercave.com/wp/ci1BoK6.jpg');" class="rounded p-3 d-flex align-items-center shadow mt-2">
            <h1 class="fw-bolder text-light mt-5 "><i class="fa-solid fa-users"></i> Employee: {{this.userCount}}</h1>
          </div>


        </div>


      </div>
    </div>
  </div>
</div>